.top-left{
    display: inline-block;
    min-width: 200px;
    height: 100%;
}
.link-list{
    width: 100%;
    height: 100%;
}
.link-list>li{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.git-link>img{
    width: 100%;
    height: 100%;
}
.blog-link>img{
    width: 100px;
    height: 36px;
}
.sf-link {
    width: 36px;
    height: 36px;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 36px;
    background: #76D2C5;
    color: white;
}
.sf-link:hover{
    color: white;
}
.animate-one{
    display: none;
    font-size: 20px;
}
.animate-two{
    display: none;
    font-size: 20px;
}
.link-life{
    color: #76D2C5;
    cursor: pointer;
}
.link-life:hover{
    color:#52bdae
}
.weixin{
    border: 0;
    width: 100px;
}